body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    border: 2px solid black;
    text-align: center;
}

h3 {
    margin: 0;
}

#box {
    display: none;
    border: 2px solid black;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border-radius: 5px;
}

input {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

div {
    padding: 1%;
}

div:nth-of-type(1) {
    padding-bottom: 5%;
}

div:last-child {
    padding-top: 5%;
}

.btn {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 100px;
}

/* 
#wandDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.infinite-symbol {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    animation: infinite-symbol 10s infinite linear;
}

@keyframes infinite-symbol {
    0%{
        left: 50%;
        top: 50%;
    }

    11.1%{
        left: 25%;
        top: 75%;
    }

    22.2%{
        left: 0;
        top: 50%;
    }

    33.3%{
        left: 25%;
        top: 25%;
    }

    44.4%{
        left: 50%;
        top: 50%;
    }

    55.5%{
        left: 75%;
        top: 75%;
    }

    66.6%{
        left:100%;
        top: 50%;
    }

    77.7%{
        left: 75%;
        top: 25%;
    }

    88.8%{
        left: 75%;
        top: 25%;
    }

    100%{
        left: 50%;
        top: 50%;
    }
}